body {
  overflow-x: hidden;
  background-color: #fffbe9;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* CSS Buttons ---------------------------------- */
.btn-outline-light {
  font-family: "Lexend Exa", sans-serif;
  font-size: 1.5rem;
  border: 1.5px solid;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffd24c;
  color: black;
  cursor: pointer;
  font-family: "Lexend Exa", sans-serif;
  padding: 15px;
  border-radius: 100%;
}

#myBtn:hover {
  background-color: white;
}
/* ---------------------------------------------- */

/* NavBar Section ----------------------- */
.container-fluid-one {
  padding: 0% 15%;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 900;
}
.nav-item {
  font-size: 1rem;
  padding-left: 25px;
  font-family: "Lexend Exa", sans-serif;
}
.controls {
  font-family: "Lexend Exa", cursive;
}
.fixed-top {
  padding-left: 100px;
  padding-right: 100px;
  background-color: black;
}
/* -------------------------------------- */

/* Title Section ---------------------------- */
#title {
  background-color: black;
}
.container-fluid-two {
  padding: 1.5% 15% 0%;
  background-image: url(../images/comp.jpg);
}
.Big {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 800;
  color: white;
}
.typed-text {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 800;
  color: white;
}
.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.Small {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  line-height: 1.25;
  font-weight: 800;
  color: white;
}
.ParagraphHeader {
  color: white;
  font-family: "Lexend Exa", sans-serif;
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
}
/* ----------------------------------------- */

/* Testimonials Section ----------------- */
#Testimonials {
  background-color: #890f0d;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}
.container-fluid-three {
  padding: 3.5% 15%;
}
.TextColor {
  color: white;
}
.TestiElement {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Lexend Exa", sans-serif;
}
.TestiAuthor {
  text-align: right;
  margin-bottom: 0px;
  font-family: monospace;
}
.TestiImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}
.col-lg-6-ImageTestiCustom {
  width: auto;
  margin-left: auto;
}
/* -------------------------------------- */

/* CV Section -------------------------------------- */
.container-fluid-four {
  padding: 2.5% 15%;
  background-image: url(../images/glitch.jpg);
}

.container-fluid-five {
  padding: 3.5% 15%;
  background-image: url(../images/Akhawayyn.png);
}

.container-fluid-six {
  padding: 3.5% 15%;
  background-image: url(../images/book.png);
}
.ExtracurricularsTitle {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 800;
  color: yellow;
}
.accordion-button {
  color: black;
  font-family: "Press Start 2P", cursive;
  background-color: #fff;
}
.accordion-button:not(.collapsed) {
  color: #3e8e7e;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-item {
  background-color: #7cd1b8;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-body {
  font-family: "Lexend Exa", sans-serif;
}
.EducationTitle {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 800;
  color: #36ae7c;
}
.CertificatesTitle {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 800;
  color: red;
}
.Paragraph {
  color: white;
  font-family: "Lexend Exa", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
@media only screen and (max-width: 1718px) {
  .Paragraph {
    color: white;
    font-family: "Lexend Exa", sans-serif;
    text-align: left;
  }
  .container-fluid-five {
    padding: 0% 10%;
  }
  .container-fluid-six {
    padding: 0% 10%;
  }
}
@media only screen and (max-width: 1501px) {
  .container-fluid-five {
    padding: 0% 10%;
    height: 355px;
  }
  .container-fluid-six {
    padding: 0% 10%;
    height: 355px;
  }
}
@media only screen and (max-width: 991px) {
  .container-fluid-five {
    padding: 2% 10%;
    height: 310px;
  }
  .container-fluid-six {
    padding: 0% 10%;
    height: 310px;
  }
}
/* ------------------------------------------------- */

/* Skills Section ------------------------------------- */
#Skills {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #fffbe9;
  padding-top: 25px;
  padding-bottom: 25px;
}
.container-fluid-seven {
  padding: 3.5% 15%;
}
.SkillsTitle {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
}
.progress-title {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  font-weight: 700;
  color: #1c2647;
  margin: 0 0 10px;
}
.progress {
  height: 30px;
  background: #fff;
  border-top: 5px solid #1c2647;
  border-bottom: 5px solid #1c2647;
  border-radius: 0;
  margin-bottom: 25px;
  margin-right: 25px;
  overflow: visible;
  position: relative;
}
.progress-bar {
  background-color: #243d25;
}
.progress:before,
.progress:after {
  content: "";
  width: 5px;
  background: #1c2647;
  position: absolute;
  top: 0;
  left: -5px;
  bottom: 0;
}
.progress:after {
  left: auto;
  right: -5px;
}
.progress .progress-bar {
  border: none;
  box-shadow: none;
  -webkit-animation: 2s linear 0s normal none infinite running progress-bar,
    animate-positive 1s;
  animation: 2s linear 0s normal none infinite running progress-bar,
    animate-positive 1s;
}
/* ---------------------------------------------------- */

/* Projects Section ----------------------------------- */
#Projects {
  background-color: black;
  border-bottom: 5px solid white;
}
.container-fluid-eight {
  padding: 5% 15% 5.5%;
  background-image: url(../images/eni.png);
}
.ProjectTitle {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 800;
  color: red;
  text-align: center;
}
.ParaProjectSection {
  margin: 16px 0px 0px 0px;
  color: white;
  width: 300px;
  font-size: 12px;
  font-family: "Lexend Exa", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.ProjectImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
}
.col-lg-4 {
  width: auto;
  margin: auto;
  padding-bottom: 30px;
}
.ProjectBottom {
  margin: 0px;
  background-color: blue;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 800;
  position: relative;
  text-align: center;
}
.ProjectBottom::after {
  display: inline-block;
  animation: dotty steps(1, end) 1s infinite;
  content: "";
}

@keyframes dotty {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/* ---------------------------------------------------- */

/* Contact Section ------------------------- */
#Contact {
  background-color: black;
  padding-bottom: 100px;
  padding-top: 100px;
}
.Contact_title {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-decoration: underline;
}
/* ----------------------------------------- */

/* Footer -------- */
.ParagraphFooter {
  color: black;
  font-family: "Lexend Exa", sans-serif;
  font-size: 20px;
}
.Email {
  color: green;
  font-family: "Lexend Exa", sans-serif;
}
/* --------------- */

.row > * {
  padding-right: calc(var(--bs-gutter-x) *);
  padding-left: calc(var(--bs-gutter-x) *);
}
